src/main/xsd/results/test-result.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:jxb="http://java.sun.com/xml/ns/jaxb"
            jxb:version="2.0">

    <xsd:element name="result">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="state" type="state" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="name"/>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="state">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:string"/>
            <xsd:element name="count" type="xsd:long"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>